#Bem-vindo(a) a aula 3 do módulo de Data Science

### Nessa aula vamos aprender sobre funções *lambda*

#### O que são funções *lambda?*

As funções *lambda*, são conhecidas por vários nomes:

- Lambda Expressions
- Anonymous Functions
- Lambda Abstractions
- Lambda Form
- Functions Literals

Porém, uma boa parte da comunidade *Python* conhece ela por *Anonymous Functions*(Funções anônimas), ou seja, essas funções não possuem necessidade de serem referenciadas com nomes.

####Quais são as diferenças e as covergências entre as funções padrões(*def*) e as funções *lambda*?

####Funções Padrões

- Utilizada muitas vezes
- Muitas linhas de código
- Somente nomeada
- Nenhum ou muitos parâmetros
- Nenhum ou muitos retornos

####Funções *lambda*

- Utilizada uma única vez
- Definição em uma linha
- Nomeada ou Anônima
- Nenhum ou muitos parâmetros
- Um ou muitos retornos

####Como criar funções *lambda*?

Bom, as funções *lambda* possuem a palavra reservada que é a própria *lambda*, são seguidas de um ou mais argumentos e uma expressão.

```
lambda {argumentos} : {expressão}
```

###Obs:
As funções *lambda* não podem conter outros comandos(statements).

- return
- pass
- assert
- raise

Se tentarmos passar esses comandos receberemos um erro:

In [ ]:
print(lambda texto: return texto.upper())

SyntaxError: ignored

###Olhando na prática funções lambda

In [ ]:
soma = lambda x, y: x + y
print(soma(2,2))

4

Nesse caso acima, os parâmetros são x e y, que vão receber o valor 2 e irão retornar o a soma entre esses dois valores.

Certo, mas como dissemos acima, as funções *lambda* podem ser executadas sem serem armazenadas em uma variável, vamos ver como fazemos isso.

In [ ]:
print((lambda x, y: x * y)(3, 3))

9

Outra curiosidade das funções *lambda* é que elas podem ter parâmetros nomeados

In [ ]:
subtrair = lambda x, y: x - y
print(subtrair(x=10, y=4))

6

Além disso, as funções *lambda*, assim como as padrões, também podem possuir parâmetros *args e **kwargs.

In [ ]:
somar_lista = lambda *args: sum(*args)
print(somar_lista([100, 200, 150]))

450

In [ ]:
somar_valor_dict = lambda **kwargs: sum(kwargs.values())
print(somar_valor_dict(a=44, b=33, c=27))

104

###Certo, então qual devemos usar? Funções padrões ou funções *lambda*?

Bom, as funções *lambda* serão de extrema importância quando estivermos fazendo alguns métodos como *apply()*, *map()* e *filter()*, porém, sempre que pude utilize as funções padrões, elas são de mais fácil leitura.

## Bom, agora que entendemos um pouco das funções *lambda*, vamos fazer algumas questões

1. Crie uma função lambda que calcule o quadrado de um número.

2. Crie uma função lambda para verificar se o número é par.

3. Crie uma função lambda para converter *strings* em maiúsculas.

4. Crie uma função lambda para calcular a área de um retângulo.

In [ ]:
# Questão 1
print((lambda x: x ** 2)(10))

100

In [ ]:
print((lambda x: x % 2 == 0)(10))

True

In [ ]:
print((lambda txt: txt.upper())('hello world'))

HELLO WORLD

In [ ]:
print((lambda direita, cima: direita * cima)(10, 20))

200

##Certo, agora vamos ver o real uso das funções *lambda*

Como foi vimos acima, é preferivel que utilizemos as funções padrões sempre que for possível, mas as funções *lambda* são muito fortes quando são utilizadas com algumas outras funções.

Nesse caso, estamos falando das funções *map()*, *filter()*, *reduce()*.

###*map()*

A função *map()* serve para aplicarmos uma função a cada elemento de um iterável que será passado como argumento do nosso parâmetro, nesse caso a função *map()* poderá ser usada com funções padrões e será apresentada as duas formas

Primeiro, vamos fazer um exemplo aplicando a multiplicação de 10 a cada elemento de uma lista.

In [ ]:
def multiplicar(x):
  return x * 10

# Vamos criar uma lista de 10 números
lista = [*range(1, 11)]
# Vamos aplicar a função map e guardar o resultado em uma nova variável
lista2 = map(multiplicar, lista)
print(lista2)

<map object at 0x7ba1148670a0>

Perceba que nossa IDE imprimiu um objeto estranho, isso acontece porque nossa variável não está vindo como uma lista e pra isso precisamos transformar em uma lista

In [ ]:
lista2 = list(lista2)
print(lista2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Agora vamos fazer isso com a função *lambda*

In [ ]:
print(list(map(lambda x: x * 10, range(1, 11))))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Nesse sentido, como o segundo parâmetro da função é *map()* é um iterável podemos passar dicionários, tuplas, listas.

Vamos ver um exemplo com dicionário.

In [5]:
pessoas = [
    {"nome": "Alice", "altura": 160},
    {"nome": "Bob", "altura": 175},
    {"nome": "Charlie", "altura": 150},
    {"nome": "David", "altura": 168},
    {"nome": "Eve", "altura": 162}
]

print(list(map(lambda altura : altura['altura'] > 160, pessoas)))

[False, True, False, True, True]

In [ ]:
print(list(map(lambda pessoa : pessoa['nome'] if pessoa['altura'] > 160 else '' , pessoas)))

['', 'Bob', '', 'David', 'Eve']

###*filter()*

A função *filter()* em *Python* é uma função de ordem superior que permite filtrar elementos de uma sequência como uma lista, tupla, dicionário com uma determinada condição, assim, o *filter* retorna uma lista com apenas os elementos que satisfazem a condição passada.

Sintaxe:
```
filter(função aplicada, iterável)
```

Vamos ver alguns exemplos usando *filter* com funções padrões e *lambda*.

In [2]:
lista = [*range(1,11)]

def numero_par(x):
  return x % 2 == 0

print(list(filter(numero_par, lista)))

[2, 4, 6, 8, 10]

Fazendo agora com funções *lambda*

In [3]:
print(list(filter(lambda x: x % 2 == 0, lista)))

[2, 4, 6, 8, 10]

Podemos também ver exemplos com dicionários, vamos usar o dicionário de **pessoas** que vimos acima.

Vamos filtrar as pessoas quem não possuem 1,60.

In [6]:
print(list(filter(lambda x: x['altura'] != 160, pessoas)))

[{'nome': 'Bob', 'altura': 175}, {'nome': 'Charlie', 'altura': 150}, {'nome': 'David', 'altura': 168}, {'nome': 'Eve', 'altura': 162}]

Também podemos filtrar apenas as pessoas que possuem mais de 1,65

In [7]:
print(list(filter(lambda x: x['altura'] > 165, pessoas)))

[{'nome': 'Bob', 'altura': 175}, {'nome': 'David', 'altura': 168}]

###*reduce()*

A função *reduce()* é a última função complementar que veremos hoje, a *reduce()* é uma função que permite aplicar, de forma cumulativa, um função a todos os elementos de um iterável. Ela agrega os elementos da sequência de forma sucessiva, aplicando a função cumulativa com o intuito de chegar em um único valor.

Sintaxe:
```
reduce(função, iterável)
```

**OBS:**
  - A função *reduce* não é *builtin* do *Python*, nesse caso, devemos importar um módulo chamado de ***functools***

In [9]:
from functools import reduce

def somar_numeros_lista(x, y):
  return x + y

lista_reduce = [*range(1, 11)]

print(reduce(somar_numeros_lista, lista_reduce))

55

In [10]:
print(reduce(lambda x, y: x + y, lista_reduce))

55

Certo, vamos entender o que esta acontecendo.

Nesse caso, criamos uma função que recebe dois parâmetros e possui um retorno da soma desses dois parâmetros, a função *reduce* nesse caso, vai acumular os resultados, da seguinte forma:

O parâmetro x receberá o valor 1 -> x = 1

O parâmetro y receberá o valor 2 -> y = 2

Depois o resultado dessa soma será armazenada em x e y receberá o próximo valor da lista, isso se estenderá por todo o iterável até ele finalizar.

Agora podemos brincar com a função *reduce* de várias maneiras.

Vamos verificar qual o maior número de um iterável.

In [11]:
tupla_numeros = (20, 150, 10, 321, 40, 210, 1)
print(reduce(lambda x, y: x if x > y else y, tupla_numeros))

321

Agora, para fixarmos nosso conteúdo, vamos fazer alguns exercícios.

1. Retornar uma lista de valores pares de 1 à 20
2. Retornar uma lista de valores ímpares de 30 à 50

In [13]:
# Questão 1
print(list(filter(lambda num: num % 2 == 0, [*range(1, 21)])))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
# Questão 2
print(list(filter(lambda num: num % 2 != 0, [*range(30, 50)])))

[31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

3. Dada uma lista de temperaturas em Celsius, converta cada temperatura para Fahrenheit usando a fórmula (C * 9/5) + 32.

In [17]:
lista_celsius = [24, 15, 16, 32, 22]
print(list(map(lambda num: (num * 9/5) + 32, lista_celsius)))

[75.2, 59.0, 60.8, 89.6, 71.6]

4. Dada uma lista de strings, filtre as strings que contêm a letra 'a' e converta as strings restantes para maiúsculas.

In [18]:
strings = ['casa', 'carro', 'avião', 'bicicleta', 'ônibus']

strings_com_a = filter(lambda s: 'a' in s, strings)
strings_maiusculas = map(lambda s: s.upper(), strings_com_a)
print(list(strings_maiusculas))

['CASA', 'CARRO', 'AVIÃO', 'BICICLETA']