#Por que o Python para ciência de dados?

##Python:
- 2° linguagem mais popular do mundo
- Linguagem que atende uma gama de recursos de Big Data, Machine learning, estatística, análise de dados, IA e entre diversas outras coisas.
- Possui bibliotecas muito boas, como matplotlib, pandas, seaborn e numpy

##Certo e o que é o Pandas?
O Pandas, é uma biblioteca para manipulação de dados, sendo a mais utilizada hoje em dia. Ela é *open source* desde 2009 e tem a licença **BSD**
### E quem criou o Pandas?
A biblioteca foi criada por uma americana chamada **AQR Capital Management**, pelo programador Wes McKinney.

##Obs:
A biblioteca *Pandas*, foi escrita em C, Python e Cython.

###O **Pandas** pode trabalhar com diversos conjuntos de dados e suporta, diversas extensões, como:
 - CSV
 - XLSX
 - PARQUET
 - HTML
 - HDFS
 - JSON
 - SQL

#Objetos primários:

Dentro da biblioteca Pandas, nós temos dois objetos primários muito importantes, que são as *Series* e os nossos *DataFrames*. 

##O que são Series?

As Series são objetos unidimensional, com somente um eixo de rótulos, que é conhecido como *Index*, ou seja, o *Index* fica responsável por identificar cada registro dos nossos dados *Series*.

###Exemplo de Series:

In [1]:
import pandas as pd

In [2]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';')

In [3]:
#Isso é uma Series
df['data']

0     2021-11-01
1     2021-11-01
2     2021-11-01
3     2021-11-02
4     2021-11-02
5     2021-11-02
6     2021-11-03
7     2021-11-03
8     2021-11-03
9     2021-11-04
10    2021-11-04
11    2021-11-04
12    2021-11-05
13    2021-11-05
14    2021-11-05
15    2021-11-06
16    2021-11-06
17    2021-11-06
18    2021-11-07
19    2021-11-07
20    2021-11-07
21    2021-11-08
22    2021-11-08
23    2021-11-08
24    2021-11-09
25    2021-11-09
26    2021-11-09
27    2021-11-10
28    2021-11-10
29    2021-11-10
30    2021-11-11
31    2021-11-11
32    2021-11-11
33    2021-11-12
34    2021-11-12
35    2021-11-12
36    2021-11-13
37    2021-11-13
38    2021-11-13
39    2021-11-14
40    2021-11-14
41    2021-11-14
42    2021-11-15
43    2021-11-15
44    2021-11-15
Name: data, dtype: object

Portanto, a *Series* possui esse padrão apresentado acima, os dados a direita e os *Index* a esquerda, abaixo vemos também a pequena descrição da *Series*.

## E o que são **DataFrame?**

Os *DataFrame* são objetos bidemensionais, de tamanhos variados. O seu formato se assemelha ao do Excel, onde possuímos uma tabela organizadas entre linhas e colunas.
O *DataFrame* séria como um conjunto de *Series*, que ao invés de possuir uma única coluna, ele possui várias, com apenas um único Index:


###Exemplo de **DataFrame**

Dessa vez podemos reutilizar o CSV que possuímos acima.

In [4]:
'''Você pode chamar das duas formas: '''
display(df)
df

          data     estilo  quantidade de garrafas  preço da garrafa
0   2021-11-01      tinto                       7            219.69
1   2021-11-01     branco                       4            118.83
2   2021-11-01  espumante                       5            110.38
3   2021-11-02      tinto                       3            215.55
4   2021-11-02     branco                       2            118.83
5   2021-11-02  espumante                       1            128.35
6   2021-11-03      tinto                      10            227.98
7   2021-11-03     branco                      14            110.54
8   2021-11-03  espumante                      10            114.53
9   2021-11-04      tinto                       8            215.55
10  2021-11-04     branco                       8            111.92
11  2021-11-04  espumante                       4            117.29
12  2021-11-05      tinto                      10            196.20
13  2021-11-05     branco                       3             99.48
14  2021-11-05  espumante                       8             88.28
15  2021-11-06      tinto                       7            181.00
16  2021-11-06     branco                       5             85.67
17  2021-11-06  espumante                       5             77.22
18  2021-11-07      tinto                       9            154.75
19  2021-11-07     branco                       5             89.81
20  2021-11-07  espumante                      10            104.86
21  2021-11-08      tinto                       7            207.26
22  2021-11-08     branco                       4            103.63
23  2021-11-08  espumante                       9            104.86
24  2021-11-09      tinto                      15            207.26
25  2021-11-09     branco                      14            103.63
26  2021-11-09  espumante                      11            104.86
27  2021-11-10      tinto                      17            207.26
28  2021-11-10     branco                      12            103.63
29  2021-11-10  espumante                      10            104.86
30  2021-11-11      tinto                       7            207.26
31  2021-11-11     branco                       8            103.63
32  2021-11-11  espumante                       3            104.86
33  2021-11-12      tinto                       7            207.26
34  2021-11-12     branco                       2            103.63
35  2021-11-12  espumante                       5            104.86
36  2021-11-13      tinto                       9            207.26
37  2021-11-13     branco                       9            103.63
38  2021-11-13  espumante                       9            104.86
39  2021-11-14      tinto                      20            207.26
40  2021-11-14     branco                       8            103.63
41  2021-11-14  espumante                      12            104.86
42  2021-11-15      tinto                      10            207.26
43  2021-11-15     branco                      10            103.63
44  2021-11-15  espumante                      15            104.86

          data     estilo  quantidade de garrafas  preço da garrafa
0   2021-11-01      tinto                       7            219.69
1   2021-11-01     branco                       4            118.83
2   2021-11-01  espumante                       5            110.38
3   2021-11-02      tinto                       3            215.55
4   2021-11-02     branco                       2            118.83
5   2021-11-02  espumante                       1            128.35
6   2021-11-03      tinto                      10            227.98
7   2021-11-03     branco                      14            110.54
8   2021-11-03  espumante                      10            114.53
9   2021-11-04      tinto                       8            215.55
10  2021-11-04     branco                       8            111.92
11  2021-11-04  espumante                       4            117.29
12  2021-11-05      tinto                      10            196.20
13  2021-11-05     branco                       3             99.48
14  2021-11-05  espumante                       8             88.28
15  2021-11-06      tinto                       7            181.00
16  2021-11-06     branco                       5             85.67
17  2021-11-06  espumante                       5             77.22
18  2021-11-07      tinto                       9            154.75
19  2021-11-07     branco                       5             89.81
20  2021-11-07  espumante                      10            104.86
21  2021-11-08      tinto                       7            207.26
22  2021-11-08     branco                       4            103.63
23  2021-11-08  espumante                       9            104.86
24  2021-11-09      tinto                      15            207.26
25  2021-11-09     branco                      14            103.63
26  2021-11-09  espumante                      11            104.86
27  2021-11-10      tinto                      17            207.26
28  2021-11-10     branco                      12            103.63
29  2021-11-10  espumante                      10            104.86
30  2021-11-11      tinto                       7            207.26
31  2021-11-11     branco                       8            103.63
32  2021-11-11  espumante                       3            104.86
33  2021-11-12      tinto                       7            207.26
34  2021-11-12     branco                       2            103.63
35  2021-11-12  espumante                       5            104.86
36  2021-11-13      tinto                       9            207.26
37  2021-11-13     branco                       9            103.63
38  2021-11-13  espumante                       9            104.86
39  2021-11-14      tinto                      20            207.26
40  2021-11-14     branco                       8            103.63
41  2021-11-14  espumante                      12            104.86
42  2021-11-15      tinto                      10            207.26
43  2021-11-15     branco                      10            103.63
44  2021-11-15  espumante                      15            104.86

###Agora vamos trabalhar com a nossa biblioteca:

Para trabalhar com o Pandas locamentem, só precisamos criar nosso ambiente virtual e depois instalar o *Pandas* através do *pip install*.

No *colab*, já vem o *Pandas* por padrão mas podemos utilizar outras versões dele.

###Importando novamente nosso arquivo **CSV**

In [5]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';')

Acima temos a função *read_csv*, essa função tem muitos parâmetros e na versão mais nova do *Pandas*, foi adicionado mais parâmetros                            
🔗 https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html                                       
🔗 https://help.highbond.com/helpdocs/fraudbond/pt-br/Content/robots/scripting/hcl/hcl_read_csv.htm

**Os principais que vamos ver são:**

- sep: Que vamos especificar o separador que nós queremos.
- skiprows: Para pular linhas.
- thousands: Ele pode alterar o caractere de milhar.
- decimal: Alterar o caractere de decimal.
- encoding: Para reconhecer alguns caracteres especiais e mudar o codificação.

#O que vimos na última aula?

In [6]:
df.shape

(45, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     object
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int64
 3   preço da garrafa        45 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.5+ KB

In [8]:
df.describe()

       quantidade de garrafas  preço da garrafa
count               45.000000         45.000000
mean                 8.244444        138.060222
std                  4.156898         49.253588
min                  1.000000         77.220000
25%                  5.000000        103.630000
50%                  8.000000        110.380000
75%                 10.000000        207.260000
max                 20.000000        227.980000

In [9]:
df.dtypes

data                       object
estilo                     object
quantidade de garrafas      int64
preço da garrafa          float64
dtype: object

In [10]:
df.columns

Index(['data', 'estilo', 'quantidade de garrafas', 'preço da garrafa'], dtype='object')

In [11]:
df.head()

         data     estilo  quantidade de garrafas  preço da garrafa
0  2021-11-01      tinto                       7            219.69
1  2021-11-01     branco                       4            118.83
2  2021-11-01  espumante                       5            110.38
3  2021-11-02      tinto                       3            215.55
4  2021-11-02     branco                       2            118.83

In [12]:
df.tail()

          data     estilo  quantidade de garrafas  preço da garrafa
40  2021-11-14     branco                       8            103.63
41  2021-11-14  espumante                      12            104.86
42  2021-11-15      tinto                      10            207.26
43  2021-11-15     branco                      10            103.63
44  2021-11-15  espumante                      15            104.86

##Agora que revemos essas funções, vamos ver e criar nossas *Series*

In [13]:
series = pd.Series([22, 21, 40, 35, 29, 20, 19])
series

0    22
1    21
2    40
3    35
4    29
5    20
6    19
dtype: int64

###O que podemos ver com esses informações obtidas? 
Como vimos mais pra cima na explicação sobre *Series*, temos o *Index*, os dados no lado direito e abaixo temos o tipo da nossa *Series*, que nesse caso é **int64**, por só possuirmos valores inteiros.                                    
E criando outra *Series* vários tipos de valores?

In [14]:
series2 = pd.Series(['Turma 615', 22, 15.30, 'Felipe', 'Guilherme', True, 'Carlos', 31, False, 'Camila'])
series2

0    Turma 615
1           22
2         15.3
3       Felipe
4    Guilherme
5         True
6       Carlos
7           31
8        False
9       Camila
dtype: object

Nesse segundo exemplo, ele retorna pra gente o tipo *object*, pois temos diversos tipos de dados dentro da nossa lista.

###Outro exemplo que podemos visualizar é o *float64*

In [15]:
series3 = pd.Series([14.9, 18.6, 25.8, 1.0, 142.7])
display(series3)

0     14.9
1     18.6
2     25.8
3      1.0
4    142.7
dtype: float64

###Também temos outras formas de construir nossas *Series*, até mesmo mudar esse *index* que temos e o tipo da *Series*.

####Para modificarmos nosso tipo da *Series*, precisamos utilizar o *astype*

In [16]:
s4 = pd.Series([5,4,3,2,1])
print(f'O tipo é: {s4.dtype}')
s4 = s4.astype(float)
print(f'O novo tipo é: {s4.dtype}')

O tipo é: int64
O novo tipo é: float64

###Outras formas de criarmos nossa *Series*

In [17]:
pessoas = ['Felipe', 'Carlos', 'Gabriel', 'Camila', 'Clara', 'Guilherme']
idades = [22, 31, 19, 22, 27, 21]

'''Poderiamos passar a variável que armazena uma lista'''
s1 = pd.Series(pessoas)
display(s1)

0       Felipe
1       Carlos
2      Gabriel
3       Camila
4        Clara
5    Guilherme
dtype: object

Como também podemos já mudar o index dessa Series

In [18]:
s1_novo = pd.Series(data=pessoas, index=idades)
display(s1_novo)

22       Felipe
31       Carlos
19      Gabriel
22       Camila
27        Clara
21    Guilherme
dtype: object

Dessa formam, podemos criar os *index* que quisermos

In [19]:
nova_lista = [*range(10, 16)]
nova_lista

[10, 11, 12, 13, 14, 15]

In [20]:
s2 = pd.Series(data=pessoas, index=nova_lista)
display(s2)

10       Felipe
11       Carlos
12      Gabriel
13       Camila
14        Clara
15    Guilherme
dtype: object

###Além disso, podemos acessar os nossos dados, através dos Index

In [23]:
s2[13]

'Camila'

###E para finalizarmos nosssas *Series*, podemos criar uma espécie de título para elas:

In [24]:
s5 = pd.Series(data=[10, 15, 220, 1], index=['Camisa do vasco', 'Camisa do Bahia', 'Camisa do Flamengo', 'Camisa do FluminenC'], name='Camisas de Futebol')
display(s5)

Camisa do vasco         10
Camisa do Bahia         15
Camisa do Flamengo     220
Camisa do FluminenC      1
Name: Camisas de Futebol, dtype: int64

#Atividade 1:
Façam 2 Series diferentes, sendo que a primeira vai receber, notas escolares, contudo, mude a indexação dessa Series, para não começar por 0.

Na outra Series, façam uma lista de filmes e passem como index o ano de lançamento de cada filme.

Coloque título em todas as Series

##DataFrames

Os *DataFrames*, são uma coleção de *Series*, eles possui uma forma bidmensional, muito similar ao Excel, porém, por estarmos utilizando o *python* juntamente ao *Pandas*, temos mais facilidades de fazer certas funções.

####O que os *DataFrames* possuem?
Por padrão, um *DataFrame* deve possuir:                                                   
- Dados: Que poderão vir de diversos lugares, uma planilha excel, arquivo CSV, json, html e entre outros.
- índices
- Colunas
- Tipos

#Agora vamos ver na prática: 🙂🙂🙂🙂🙂🙂🙂

In [26]:
df = pd.DataFrame(
    data=[
        ['Felipe', 2000],
        ['Iago', 2004],
        ['Davi', 2003],
        ['Pedro', 2001]
    ],
    index=['Aluno 1', 'Aluno 2', 'Aluno 3', 'Aluno 4'],
    columns=['Alunos', 'Ano Nasc']
)
display(df)

         Alunos  Ano Nasc
Aluno 1  Felipe      2000
Aluno 2    Iago      2004
Aluno 3    Davi      2003
Aluno 4   Pedro      2001

####Podemos também criar um *DataFrame* sem passar o index e as colunas, assim o nosso *DataFrame* vai apresentar um padrão.

In [27]:
pd.DataFrame(['Dev', 'DS', 'Marketing'])

           0
0        Dev
1         DS
2  Marketing

Além dessas formas, nossos *DataFrames*, apresentam diversas formas para construirmos eles, podemos fazer através de **Conjuntos**, **Listas**, **Dicionários**

In [28]:
frutas = ['Maça', 'Melancia', 'Kiwi']
conjunto = set(frutas)
pd.DataFrame(conjunto)

          0
0  Melancia
1      Kiwi
2      Maça

In [29]:
bairros = ['Stella Mares', 'Praia do Flamengo', 'Ipitanga']
pd.DataFrame(bairros)

                   0
0       Stella Mares
1  Praia do Flamengo
2           Ipitanga

In [30]:
dicionario = {
    'Filmes': ['Guerra nas Estrelas', 'O Império Contra-Ataca', 'O Retorno de Jedi'],
    'Ano de Lançamento': [1977, 1980, 1983]
}

df2 = pd.DataFrame(dicionario)
df2

                   Filmes  Ano de Lançamento
0     Guerra nas Estrelas               1977
1  O Império Contra-Ataca               1980
2       O Retorno de Jedi               1983

In [39]:
dataset = r'https://raw.githubusercontent.com/FelipeHardmann/Curso_DataScience/main/dataset/roupas.csv'
df = pd.read_csv(dataset, sep=';')
df.head()

          nome  preco
0     Camiseta  29.99
1  Calça Jeans  59.99
2        Blusa  19.99
3      Jaqueta  79.99
4      Vestido  39.99

In [40]:
df.shape

(142, 2)

In [41]:
type(df)

pandas.core.frame.DataFrame

In [42]:
type(df['nome'])

pandas.core.series.Series

Agora que já aprendeu como criar _Series_ e _DataFrames_, é a sua vez de praticar tudo que aprendeu nesta aula.

1. Crie _Series_ com parâmetro posicional e depois com parâmetro nomeado (named parameter)
2. Adicione index a sua _Series_ (mude o index para valores inteiros, depois para string e veja o resultado)
3. Adicione um nome à sua _Series_
4. Crie mais de uma! (__Lembre-se : É hora de praticar!__)
5. Crie uma _Series_ com um tipo de dado e depois mude para outro tipo usando o método astype( )
6. Crie um _DataFrame_ de 2 colunas usando um dicionário
7. Recrie este mesmo _DataFrame_ através de lista e com index e columns
8. Veja todos os exemplos e refaça-os utilizando seus próprios exemplos e valores