#Bem-vindo(a) a aula 3 do módulo de *Python*

### Nessa aula veremos mais sobre coleções, dessa vez com foco em Dicionários e conjuntos.

Tópicos da aula:

- 1° Formas de criar um dicionário

- 2° Operações Suportadas por dicionário

- 3° Conjuntos

- 4° Vamos ver outras formas de se criar coleções
    
- 5° Exercícios

### O que são dicionários?

Um dicionário em Python é um tipo de coleção que possui uma chave e um valor, podemos entender ele como uma lista com rótulos, portanto, diferente das listas que acessamos através de índices, em um dicionários vamos acessar os dados através das chaves.

O uso de dicionários na parte de desenvolvimento é muito comum, principalmente por suas funções serem primordiais para consulta em arquivos do tipo json.

Exemplo de arquivos JSON:

https://jsonplaceholder.typicode.com/comments

https://jsonplaceholder.typicode.com/posts

É muito simples criarmos um dicionário, basta criarmos uma variável e atribuirmos ela a um conjunto de chaves, dessa maneira:

In [ ]:
dicionario = {}

Dessa forma, já criamos o nosso dicionário, para verificarmos isso basta utilizarmos o nosso comando *type()*

In [ ]:
print(type(dicionario))

<class 'dict'>

Agora vamos ver como criar dicionários com dados, bem, assim como vimos nas listas e tuplas, temos algumas formas para criar essas coleções e o dicionário não é diferentem, criamos basicamente uma "lista", porém com chave e valor, da seguinte forma.

In [ ]:
infinity = {'turma 718': 'Data Science'}

Assim, já temos o nosso dicionário, com a representação de chave e valor, então diferente da lista que para representar o dado precisariámos passar:

```
print(infinity[0])
```

No dicionário apresentamos o dado através da chave, da seguinte forma

In [ ]:
print(infinity['turma 718'])

Data Science

Dessa forma, agora sabemos que sempre que chamarmos a 'turma 718' vamos estar nos referenciando a Data Science.

Outra forma que temos de construir um dicionário é através da própria classe dele, veja, quando pedimos o tipo de um dicionário ele retorna pra gente o *<class 'dict'>*, isso está referênciando o tipo daquela variável. Assim, podemos criar a partir dessa classe da seguinte forma:

In [ ]:
# 1° forma
escola = dict([('turma2', 718), ('turma1', 713)])
print(escola)

{'turma2': 718, 'turma1': 713}

Essa primeira forma utilizamos uma lista de tuplas, onde o primeiro dado da tupla é a chave e o segundo é o valor. Porém, ainda temos outra forma que é utilizando "paramêtros" nomeados.

In [ ]:
# 2° forma
dados = dict(nome='Felipe', idade=22)
print(dados)

{'nome': 'Felipe', 'idade': 22}

Essas são alguma das formas de se construir um dicionário de forma "bruta", ou seja, já criando as chaves e valores, porém, há algumas observações a se fazer

- Obs: Se repertirmos a chave, só será armazenado o último valor atribuido a essa chave.

## Agora vamos ver as principais operações de dicionários

### *list*

O *list* é usado para listas, ou seja podemos criar uma lista com esse *list*, porém, quando usado com dicionário ele irá retornar a lista de chaves que está sendo usada no dicionário.

In [ ]:
dados_professor = {
    'nome': 'Felipe Hardmann',
    'idade': 22,
    'matricula': 12345,
    'turmas': (718, 715, 108)
}
# Isso mesmo, assim como em listas e tuplas, podemos passar coleções dentro de dicionários

In [ ]:
# Usando o método list
print(list(dados_professor))

['nome', 'idade', 'matricula', 'turmas']

### *len*

Podemos usar a função *len* para visualizar a quantidade de itens dentro de um dicionário.

In [ ]:
print(len(dados_professor))

4

### Criando uma nova chave e valor dentro do dicionário

In [ ]:
dados_professor['altura'] = 1.89

Não tinhamos o dado altura no nosso dicionário, porém, se atribuirmos uma chave e criarmos um valor nessa chave, nosso dicionário incrementa esses valores automaticamente.

In [ ]:
print(dados_professor)

{'nome': 'Felipe Hardmann', 'idade': 22, 'matricula': 12345, 'turmas': (718, 715, 108), 'altura': 1.89}

### *del*

Assim como tinhamos a função *del* em listas, temos em dicionários, porém essa função não deleta apenas o dado e sim a chave e os valores atrelados a essa chave.

In [ ]:
del dados_professor['turmas']

In [ ]:
print(dados_professor)

{'nome': 'Felipe Hardmann', 'idade': 22, 'matricula': 12345, 'altura': 1.89}

### chave in dicionario

Outra forma que podemos utilizar é a verificação de existência de uma determinada chave no meio do dicionário, esse dado vai retornar um *True* ou *False*

In [ ]:
print('altura' in dados_professor)

True

In [ ]:
print('peso' in dados_professor)

False

Portanto, assim como temos *in*, temos também a função *not in*

In [ ]:
print('nome' not in dados_professor)

False

In [ ]:
print('cpf' not in dados_professor)

True

### *clear*

A função *clear* é resposável por apagar todos os itens do dicionário

In [ ]:
trabalho = {'entrada': 8, 'saida': 18}
print(trabalho)

{'entrada': 8, 'saida': 18}

In [ ]:
trabalho.clear()
print(trabalho)

{}

Perceba que nossa variável ainda existe, porém os dados dentro dela foram deletados.

### copy

Essa função vai retornar uma cópia do nosso dicionário, mas porque não igualamos somente esse variável a uma nova variável?

In [ ]:
dados_professor2 = dados_professor
print(dados_professor2)

{'nome': 'Felipe Hardmann', 'idade': 22, 'matricula': 12345, 'altura': 1.89}

Perceba que ele criou da mesma forma, uma cópia do nosso *dados_professor*, porém essa cópia não serve pra gente, já que ela não é independente

In [ ]:
dados_professor['cpf'] = '111.111.111-11'
print(dados_professor)

{'nome': 'Felipe Hardmann', 'idade': 22, 'matricula': 12345, 'altura': 1.89, 'cpf': '111.111.111-11'}

Tudo certo? Não

Se imprimirmos a nossa variável dados_professor2, ele também terá cpf.

Mas por que? Porque Deus quis assim......

Porque falamos que a nossa variável é igual a outra, ou seja, ela sempre seguirá a outra, mas não desejamos isso, queremos ma cópia que não caminhe junto a antiga variável, assim, utilizamos *copy*

In [ ]:
dados_professor_copia = dados_professor.copy()

In [ ]:
print(dados_professor_copia)

{'nome': 'Felipe Hardmann', 'idade': 22, 'matricula': 12345, 'altura': 1.89, 'cpf': '111.111.111-11'}

In [ ]:
# Agora se mudarmos a original a cópia não será alterada
dados_professor['escola'] = 'infinity'

In [ ]:
print(dados_professor_copia)

{'nome': 'Felipe Hardmann', 'idade': 22, 'matricula': 12345, 'altura': 1.89, 'cpf': '111.111.111-11'}

Agora nossa cópia não possui o dado de escola, mesmo a original sendo alterada

### *fromkeys*

Esse é um método que retorna as chaves definidas através de um iterável

In [ ]:
lista_nomes = ['Felipe', 'Mauricio', 'Rosana']
dict_nomes = dict.fromkeys(lista_nomes)
print(dict_nomes)

{'Felipe': None, 'Mauricio': None, 'Rosana': None}

Por padrão, quando não passamos os valores, ele sempre virá como *None*, porém, se quisermos atribuir valores, podemos passar também dentro da função, ou seja, atribuirmos outro paramêtro.

In [ ]:
dict_nomes = dict.fromkeys(lista_nomes, 1)

In [ ]:
print(dict_nomes)

{'Felipe': 1, 'Mauricio': 1, 'Rosana': 1}

In [ ]:
lista = [1, 2, 3]
dict_nomes = dict.fromkeys(lista_nomes, lista)
print(dict_nomes)

{'Felipe': [1, 2, 3], 'Mauricio': [1, 2, 3], 'Rosana': [1, 2, 3]}

Infelizmente ele só atribui valores padrões para todos ;(

### *get*

O método *get* vai servir para verificarmos o valor de uma chave em específica, se ela não existir vai retornar um valor padrão definido.

In [ ]:
tecnologias = {
    'backend': ['Python', 'Java', 'PHP'],
    'frontend': ['JS', 'React', 'Vue'],
    'DataScience': ['Python', 'Pandas', 'R']
}

print(tecnologias.get('frontend', 'Essa formação não existe'))

['JS', 'React', 'Vue']

In [ ]:
print(tecnologias.get('DevOps', 'Vixe, isso não existe aqui não'))

Vixe, isso não existe aqui não

### *items*

Essa função vai retornar uma visualização diferente do nosso dicionário, uma lista de tuplas.

In [ ]:
print(tecnologias.items())

dict_items([('backend', ['Python', 'Java', 'PHP']), ('frontend', ['JS', 'React', 'Vue']), ('DataScience', ['Python', 'Pandas', 'R'])])

Porém, essa função pode ser melhor utilizada na desestruturação do nosso dicionário, sim, assim como faziamos isso em Listas, Strings e Tuplas, podemos fazer isso com dicionários, porém, temos dois dados, no dicionário a chave e o valor, nesse caso, vamos precisar desestruturar os dois campos, dessa forma:

In [ ]:
for chave, valor in tecnologias.items():
  '''
    Perceba que a primeira variável se refere sempre as chaves
    e a segunda variável sempre aos valores, não importando se é outra
    coleção ou não.
  '''
  print(f'{chave} - {valor}')

backend - ['Python', 'Java', 'PHP']
frontend - ['JS', 'React', 'Vue']
DataScience - ['Python', 'Pandas', 'R']

### *keys*

O *keys* vai retornar apenas os dados das chaves, porém, esse método pode ser útil para visualizarmos também os nossos valores.

In [ ]:
tecnologias.keys()

dict_keys(['backend', 'frontend', 'DataScience'])

Mas podemos usar esse método para pegarmos os valores dessa chave

In [ ]:
for tecnologia in tecnologias.keys():
  print(tecnologias[tecnologia])

['Python', 'Java', 'PHP']
['JS', 'React', 'Vue']
['Python', 'Pandas', 'R']

Certo, nesse caso acima, eu percorri todas as chaves e guardei em cada loop a chave na variável tecnologia, depois pedi para imprimir no dicionário de tecnologias o campo que tiver de a chave igual a tecnologia percorrida no array.

### *pop*

A função *pop* serve apenas para remover a chave do dicionário, se não houver a chave ele vai retornar um erro ou podemos especificar o erro.

In [ ]:
tecnologias.pop('backend', 'Não existe')

['Python', 'Java', 'PHP']

In [ ]:
print(tecnologias)

{'frontend': ['JS', 'React', 'Vue'], 'DataScience': ['Python', 'Pandas', 'R']}

In [ ]:
tecnologias.pop('Infra', 'Não existe')

'Não existe'

In [ ]:
tecnologias.pop('Infra')

KeyError: ignored

### *values*

Assim como temos a função *keys*, temos também a função *values*, que vai retornar todos os valores do dicionário.

In [ ]:
computador = {
    'CPU': 'AMD',
    'HD': '1TB',
    'Placa de vídeo': 'Intel Iris xe'
}

In [ ]:
print(computador)

{'CPU': 'AMD', 'HD': '1TB', 'Placa de vídeo': 'Intel Iris xe'}

In [ ]:
print(computador.values())

dict_values(['AMD', '1TB', 'Intel Iris xe'])

Isso serve, também, se nosso valor estiver em uma lista

In [ ]:
computador = {
    'CPU': 'AMD',
    'Armazenamento': ['1TB', '250ssd'],
    'Placa de vídeo': 'Intel Iris xe'
}

In [ ]:
print(computador.values())

dict_values(['AMD', ['1TB', '250ssd'], 'Intel Iris xe'])

In [ ]:
for valor in computador.values():
  print(f'Valor = {valor}')

Valor = AMD
Valor = ['1TB', '250ssd']
Valor = Intel Iris xe

# Agora que vimos todos os métodos e os conceitos de dicionário, veremos agora o que são Conjuntos.

### O que são conjuntos?

Os conjuntos em Python são conhecidos como *set*, eles são os mesmos conjuntos que aprendemos em matemática, eles são representados graficamente pelo diagrama de Venn.

Os *sets* são tipos de dados em *Python*, que são mutáveis, porém, eles só aceitam tipos imutáveis no seu valor interno.

Então vamos criar nosso primeiro *set*(conjunto)

In [1]:
# Os conjuntos são muito parecidos com o dicionários, para criarmos ele utilizamos a mesma {}
conjunto1 = {}
# Mas, não podemos criar da mesma forma que está acima, por que? Vamos imprimir o tipo dessa variável
print(conjunto1, type(conjunto1))

{} <class 'dict'>

Perceba que ele criou um dicionário, ou seja, se deixarmos vazio as nossas chaves, o próprio *Python* vai entender aquilo como dicionário.

E como fazemos para criar conjuntos?

In [2]:
conjunto2 = set('conjunto')
print(conjunto2, type(conjunto2))

{'o', 'j', 'n', 't', 'c', 'u'} <class 'set'>

Podemos criar nossos conjuntos dessa forma, mas perceba, nosso texto ficou todo separado, isso acontece porque o conjunto itera sobre o dado, quando você passa a classe *set()*, porém, podemos criar ele de outra forma.

In [5]:
conjunto3 = {1, 2, 3, 'Olá turma'}
print(conjunto3, type(conjunto3))

{1, 2, 3, 'Olá turma'} <class 'set'>

E qual forma escolhemos para criar um conjunto?

Quando quisermos criar um conjunto vazio vamos **SEMPRE** utilizar a função *set*, mas se quisermos criar um conjunto com dados preeenchidos é melhor utilizarmos as chaves.

###  Os *sets*, possuem algumas peculiaridades, vamos ver algumas delas.

- 1° Por padrão os *sets* eliminam valores duplicados

In [6]:
c1 = {1,2,3,3,3,1,3,2,3}
print(c1)

{1, 2, 3}

E o que podemos fazer com isso?

Podemos remover agora dados duplicados de uma lista ou tupla

In [7]:
l1 = [1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4]
c1 = set(l1)
print(c1)

{1, 2, 3, 4}

Ou seja, nós pegamos dados de uma lista, convertemos essa lista em conjuntos e o *set* retirou todos os valores duplicados.

Porém, lembre-se, os *sets*, infelizmente não garantem ordem.

- 2° Os *sets* não aceitam valores mútaveis, dentro dele

In [8]:
# Se passarmos os valores int, string, float, tupla, os conjuntos aceitaram os dados sem problemas
# Porém, se passarmos uma lista, receberemos os seguintes erros

conjunto = {123, 718, 715, [1,2,3]}

TypeError: ignored

- 3° Eles não possuem indíces como as listas ou tuplas

- 4° Eles são iteráveis

Ou seja, eles aceitam comos *for*, *in*, *not in*

## Agora vamos ver os principais métodos de *sets*

### *add()*

In [9]:
# Se quisermos criar um set vazio utilizamos a classe set
conjunto = set()

In [10]:
# Se quisermos adicionar valores dentro desses sets utilizamos o add
conjunto.add('Olá')
print(conjunto)

{'Olá'}

Se quisermos passar mais de um valor por vez, teremos um problema, já que o add
só aceita um valor por vez

### *update()*

Se quisermos passar mais de um valor utilizamos o *update*, porque ele faz uma iteração sobre o que foi passado

In [11]:
conjunto.update('Olá 2')
print(conjunto)

{'á', ' ', 'l', 'Olá', '2', 'O'}

Perceba que quando passamos a string, ele itera sobre ela e adiciona letra por letra, por isso quando quisermos passar mais de um valor, utilizamos algum iterável.

In [12]:
conjunto.update((1,1,2,3,4,5,6))
print(conjunto)

{'á', 1, 2, 3, 4, 5, 6, ' ', 'l', 'Olá', '2', 'O'}