## Bem-vindo(a) a aula 2 do módulo de *Python*

###Nessa aula, vamos ver coleções de dados em *Python*                   
⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡⚡

Tópicos da aula:
- Introdução as coleções, entendendo o conceito e para que serve
- Listas
- Funções que as listas possuem
- Tuplas
- Desempacotamento de coleções

### O que são coleções?

Coleção é uma estrutura que permite armazenar múltiplos objetos dentro de uma única unidade, ou seja, agora podemos criar variáveis que vão armazenar mais de uma valor. Dessa maneira, temos agora o benefício de utilizar apenas uma variável para armazenar um conjuntos de dados, não precisamos mais criar diversas variáveis, cada uma armazenando um tipo de dado.

### Listas

Agora que entendemos o que são coleções, vamos entender o primeiro tipo de coleção em *Python*, que são as listas.

Uma lista é uma coleção de valores, separados por vírgulas, onde esses valores possuem uma posição que é identificado por um índice, por padrão, no *Python* colocamos [ ] em volta desses valores, esses colchetes indicam que aquela variável é uma lista.

Exemplo de como faziamos antes:

```
nome1 = 'Felipe'
nome2 = 'José'
nome3 = 'Davi'
```

Dessa forma, se quisessemos criar vários nomes precisariamos criar várias variáveis. Porém agora que possuímos a coleção de listas, podemos criar apenas uma unidade, que ficaria da seguinte forma.

Por padrão, quando criamos uma lista, declaramos a variável no plural ou com o nome listas na frente, por exemplo:

```
nomes = []
lista_nome = []
```

O [ ] serve para identificar que aquela variável é do tipo lista.

In [ ]:
# Agora, vamos verificar se essa variável é realmente uma lista, utilizando a
# nossa função type.
nomes = []
print(type(nomes))

<class 'list'>

Perceba que o nosso terminal retornou o *class 'list'*, ou seja, agora possuímos mais um tipo de dado, além da *string*, *float*, *int* e *bool*.

###Certo, agora vamos verificar como criar uma lista de dados.
Como foi visto acima, criamos uma lista de dados dentro dos colchetes e separando essa lista com vírgulas. Então podemos criar uma lista da seguinte maneira.

```
nomes = ['Felipe', 'José', 'Renan']
```

Assim, podemos atribuir quantos dados quisermos dentro dessa lista. Agora vamos exibir essa lista no nosso terminal.

In [ ]:
nomes = ['Felipe', 'José', 'Renan']
print(nomes)

['Felipe', 'José', 'Renan']

Perceba que essa lista, funciona como uma variável normal, ela retorna todos os dados com a nossa função de *print*.

Porém, nossa lista está apenas com nomes, quer dizer então que nossa lista só aceita *strings*?


**NÃO**

Nossa lista aceita números, valores boleanos e textos.

Vamos verificar.....

In [ ]:
lista_qualquer = ['Patrícia', 26, True, False, 17.5]
print(lista_qualquer)

['Patrícia', 26, True, False, 17.5]

Perceba que o *Python* não reclama de nossa lista possuir diversos valores, com diferentes tipos, diferentemente de outras linguagens de programação, algumas só aceitam listas de dados que possuem os mesmos tipos.

### Índices....

Agora, como também vimos acima, as listas possuem índices, assim como as strings, dessa forma, cada dado dentro de uma lista, é referenciado por índice, da seguinte maneira.

In [ ]:
lista = ['Olá meu chapa', 1, 1.1, True, False]
print(lista[2])

1.1

Veja, nossa lista possuem índices, dessa forma, podemos chamar nossos dados, através de índices.

In [ ]:
lista[2] = 2.1
print(lista)

['Olá meu chapa', 1, 2.1, True, False]

Ou seja, podemos até mesmo alterar valores dessa lista.

## Agora, vamos fazer um breve exercício:
Crie uma lista, com os seus dados de nome, idade e altura, porém, eles precisam estar errados, por exemplo:
```
dados = ['Filipe', 20, 1.50]
```
Nesse caso, escreva na tela esse dados e altere esses dados através da função *input*

In [ ]:
dados = ['Filipe', 20, 1.50]

print(f'''
  Olá {dados[0]}, tudo bem?
  Você possui {dados[1]} anos
  e tem uma altura de {dados[2]} metros, correto?
      ''')

  Olá Filipe, tudo bem?
  Você possui 20 anos
  e tem uma altura de 1.5 metros, correto?

In [ ]:
dados[0] = 'Felipe'
dados[1] = 22
dados[2] = 1.89

print(f'''

  ----------- Corrigido -------------
  Olá {dados[0]}, tudo bem?
  Você possui {dados[1]} anos
  e tem uma altura de {dados[2]} metros, correto?
      ''')

  ----------- Corrigido -------------
  Olá Felipe, tudo bem?
  Você possui 22 anos
  e tem uma altura de 1.89 metros, correto?

Certo, uma curiosidade da indexação é que ela funciona de forma contrária, que fica da seguinte forma

In [ ]:
lista_numeros = [1,2,3,4,5,6]
print(lista_numeros[-1])

6

Isso acontece porque, o índice 0 é referenciado com o primeiro número, portanto, o último número sempre será o -1 e assim por diante, facilitando até mesmo alguns tipos de buscas.

###Outro método que podemos utilizar nas listas, são os famosos *slices*

Os *slices* são métodos de fatiamento de listas, ou seja, podemos agora escolher a "fatia" inicial que queremos, até a última.

In [ ]:
# Utilizando a mesma lista_numeros, podemos agora pegar os números de 1 a 3 por exemplo
print(lista_numeros[0:3])
# Ou seja, ele pega as variáveis da posição 0 até a posição 2, desconsiderando a posição 3

[1, 2, 3]

## Vamos ver algumas funções que as listas possuem.

Agora que vimos algumas especificações de listas, vamos ver as suas funções mais utilizadas

 Se chamarmos uma varíavel de lista e colocarmos um ponto, verificaremos no nosso VsCode, que as listas possuem várias funções,
 essas funções são chamadas de built-in

![Captura de tela de 2023-08-05 00-37-17.png]()

Vamos verificar agora como podemos adicionar um dado em uma lista

In [ ]:
# Vamos criar uma lista vazia
lista = []
# Temos a função chamada de append, essa função é responsável por adicionar o valor
lista.append('Olá mundo')
print(lista)

['Olá mundo']

Veja que nossa lista agora pode ter dados adicionados e detalhe, não precisamos passar dados específicos, podemos passar também variáveis.

In [ ]:
nome = 'Felipe'
lista.append(nome)
print(lista)

['Olá mundo', 'Felipe']

Veja que nossa lista agora está agregando dados dentro dela, porém, veja que ele sempre será o último item e por isso teremos que ver outro método para escolhermos a posição do nosso dado, esse método é o *insert*

In [ ]:
# O método insert requer dois dados, a posição e o dado em si que será inserido.
# Criando uma lista
lista_nomes = ['Gabriela', 'Filipe', 'Camila']
# Agora só precisamos chamar nossa variável e passar a nossa função
lista_nomes.insert(1, 'Fernando')
print(lista_nomes)

['Gabriela', 'Fernando', 'Filipe', 'Camila']

### Agora que vimos como adicionar dados a nossa lista, vamos ver como deletar alguns dados

Para deletar dados nós temos mais opções, são elas:
- *del*
- *remove()*
- *pop()*

Primeiro, vamos ver o método *del*:
O método *del* remove um item da lista baseado na posição indicada. Perceba que ele não acompanha os parênteses, então como podemos utilizar ele?

Da seguinte forma:
 ```
 lista = [1, 2, 3, 4]

 del lista[0]
 ```

 Diferente das outras funções, o *del* não vem depois da variável e sim antes dela.

In [ ]:
# Exemplo
lista = [1, 2, 3, 4]
del lista[0]
print(lista)

[2, 3, 4]

### O outro método que veremos é o *remove*

**OBS: Só o *del* é diferentão dessa forma, o método *remove* e *pop*, vão acompanhar os outros métodos que já vimos.**

O método *remove* vai servir para removermos a primeira a primeira ocorrência do dado, por exemplo:

```
lista = ['Abacaxi', 10.50, 'Maça', 12.20, 'Manga', 12, 'Abacaxi']
lista.remove('Abacaxi')
```

Se passarmos dessa forma, somente o primeiro dado **Abacaxi** será removido, enquanto o último permanecerá intacto.

In [ ]:
lista = ['Abacaxi', 10.50, 'Maça', 12.20, 'Manga', 12, 'Abacaxi']
lista.remove('Abacaxi')
print(lista)

[10.5, 'Maça', 12.2, 'Manga', 12, 'Abacaxi']

### E agora, temos o método *pop*
O *pop* na sua forma mais pura, sem nenhuma paramêtro, irá remover o última item da lista, da seguinte forma:

In [ ]:
lista_pop = [True, False, True, 1.1, 3.2, 2, 1, 'Felipe']
# Se passarmos aqui o lista.pop(), o pop deve remover o último item
lista_pop.pop()
print(lista_pop)

[True, False, True, 1.1, 3.2, 2, 1]

Certo, mas temos mais uma forma de usar o *pop*, que é escolhendo a posição que eu quero deletar, que vamos ver da seguinte forma:

In [ ]:
# Chamando a nossa lista acima novamente

lista_pop.pop(2)

# Agora estamos falando que queremos remover o dado da posição 2

print(lista_pop)

[True, False, 1.1, 3.2, 2, 1]

Dessa maneira, removemos o outro True da lista.

Agora que vimos alguns métodos de listas, vamos aos exercícios:

Como falamos, o assunto é acumulativo, então vamos tentar utilizar tudo que aprendemos até agora:

1° Faça um programa que possua um laço de repetição, que peça 10 nomes ao usuário.


2° Com base na questão anterior, continue o programa, porém, agora não coloque limite nesse programa, o laço só vai parar quando o usuário digitar um N ou um Não, isso ficará a sua escolha
(Dicas: Use o *while*, condicionais e break)

3° Com base, também, na questão anterior, agora pergunte ao usuário se existe algum dado que ele deseja deletar, se sim, delete e mostre novamente a lista para ele.

In [ ]:
# Vamos lá, vamos fazer por partes
# Questão 1

# for i in range(10): -> Porque não vamos usar dessa forma?
# Perceba, a nossa variável i será usada para algo? Não né, então não precisamos criar uma variável e como fazemos para não declarar e o nosso for funcionar?
# Utilizamos o _
nomes = []
for _ in range(10):
  nome = input('Digite um nome: ')
  nomes.append(nome)
print(nomes)

Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
Digite um nome: felipe
['felipe', 'felipe', 'felipe', 'felipe', 'felipe', 'felipe', 'felipe', 'felipe', 'felipe', 'felipe']

In [ ]:
# Tranquilo, certo?
# Questão 2
nomes= []
while True:
  nome = input('Digite um nome: ')
  nomes.append(nome)
  escolha = input('Você deseja continuar?(Não/N)').upper()
  if escolha == 'Não' or escolha == 'N':
    break

print(nomes)

Digite um nome: felipe
Você deseja continuar?(Não/N)s
Digite um nome: Fernando
Você deseja continuar?(Não/N)s
Digite um nome: Carla
Você deseja continuar?(Não/N)n
['felipe', 'Fernando', 'Carla']

In [ ]:
# Questão 3
nomes= []
while True:
  nome = input('Digite um nome: ').title()
  nomes.append(nome)
  escolha = input('Você deseja continuar?(Não/N)').upper()
  if escolha == 'Não' or escolha == 'N':
    break

  deletar = input('Existe algum dado que você deseja deletar?(Sim/S)').upper()
  if deletar == 'S' or deletar == 'Sim':
    print(nomes)
    dado_deletado = int(input('Escreva o índice que você quer deletar: '))
    del nomes[dado_deletado]

print(nomes)

Digite um nome: felipe
Você deseja continuar?(Não/N)s
Existe algum dado que você deseja deletar?(Sim/S)s
['Felipe']
Escreva o índice que você quer deletar: 0
Digite um nome: fernando
Você deseja continuar?(Não/N)s
Existe algum dado que você deseja deletar?(Sim/S)s
['Fernando']
Escreva o índice que você quer deletar: 0
Digite um nome: lipeta
Você deseja continuar?(Não/N)N
['Lipeta']

Perceba que utilizamos tudo aquilo que já vimos em aulas passadas.

Aqui estão alguns *links* para você ver mais de listas

https://www.devmedia.com.br/como-trabalhar-com-listas-em-python/37460

https://pythonacademy.com.br/blog/listas-no-python

https://docs.python.org/pt-br/3/tutorial/datastructures.html

## Tuplas
Agora que vimos os principais métodos de listas, veremos a coleção de dados de tuplas em Python

Primeiro vamos entender a diferença de Tuplas e Listas. Primeiramente, como vimos, as listas são elementos mutáveis, ou seja, podemos mudar os dados através dos seus índices, já as tuplas não podemos fazer isso, as tuplas são elementos imutáveis, além do que as declarações de tuplas são feitas de forma diferente, nesse caso, vamos ver ....

Para declararmos uma tupla em Python utilizamos a seguinte sintáxe:

```
tupla_nomes = ('Felipe', 'Adriano', 'Gabriel')
```
Dessa maneira, já estamos declarando uma tupla em Python, ou seja, não utilizamos os colchetes

In [1]:
tuplas_nomes = ('Felipe', 'Hardmann', 'Adriano')
print(tuplas_nomes)

('Felipe', 'Hardmann', 'Adriano')

Perceba que os dados são apresentados da mesma forma que uma lista, diferenciando apenas na parte dos colchetes.

Agora vamos requisitar o tipo dessa variável

In [2]:
print(type(tuplas_nomes))

<class 'tuple'>

Como vimos acima, o nosso tipo de variável retorna como *Tuple*, ou seja, uma tupla e como vimos elas são imutáveis.

Então, vamos tentar alterar um dado de uma tupla.

In [3]:
tupla_numeros = (1, 2, 3, 4, 5)
tupla_numeros[0] = 2

TypeError: ignored

Perceba que ele retornou uma mensagem de erro, *objeto 'tuple' não suporta atribuição de item*, ou seja, não podemos alterar dados da tupla

Dessa forma, podemos utilizar tuplas para inserir sequências de dados que não serão modificados de maneira alguma, como um CPF.

Agora então vamos ver um método que utilizamos bastante em Tuplas, que seria o desempacotamento de tuplas

In [5]:
# Podemos desempacotar a lista atribuindo seus dados a variáveis, da seguinte forma
tecnologias = ('Python', 'PHP', 'Java')
(python, php, java) = tecnologias
# Dessa forma atribuimos as variáveis
print(python)
print(php)
print(java)

Python
PHP
Java

Perceba que todas as variáveis estão pegando de acordo com o índice dos dados

Quais estruturas de dados devo usar, Listas ou Tuplas?
A execução do programa é mais rápida quando manipulamos uma tupla do que
uma equivalente lista.
Às vezes desejamos que os dados não sejam modificados, se determinados que
valores em uma coleção devem ser constantes no programa, utilizar uma Tupla nos
protege contra acidentes de modificação.
Por outro lado, as listas nos permitem ser mais flexíveis com alterações, facilitando a
resolução e trazendo soluções para seu programa.
O interessante é saber em quais situações será necessário o uso de cada uma
dessas estruturas.