#Bem-vindo(a) a SQL(Structured Query Language)

###Nessa aula veremos os seguintes tópicos:

- Introdução a banco de dados

- Tipos de banco de dados

- Introdução ao SQL

- Introdução ao MySQL

##Introdução a banco de dados

####O que é um banco de dados?

Um banco de dados é uma coleção organizada de informações, que nesse caso são os dados, esses dados são armazenados eletronicamente em um sistema de computador. Esse sistema é chamado de SGBD(Sistema de gerenciamento de banco de dados).

Juntos, os dados e o SGBD, juntamente com as aplicações associadas a eles, são chamados de sistema de banco de dados, que são abreviados apenas para banco de dados.

Os dados nos tipos mais comuns de bancos de dados em operação atualmente são modelados em linhas e colunas em uma série de tabelas para tornar o processamento e a consulta de dados eficientes. Os dados podem ser facilmente acessados, gerenciados, modificados, atualizados, controlados e organizados. A maioria dos bancos de dados usa a linguagem de consulta estruturada (SQL) para escrever e consultar dados.

####Por que não utilizar apenas uma planilha para armazenar esses dados?

Uma planilha também é uma ótima forma de armazenar os dados, porém, há algumas pequenas diferenças que devemos levar em conta sobre elas em relação ao banco de dados.

- No banco de dados, podemos manipular os dados de diferentes maneiras.

- Permissões diferentes.

- Quantos dados podem ser armazenados.


Além disso, as planilhas foram originalmente criadas para trabalhar com apenas um usuário, já o banco de dados foi criado para vários usuários, criarem, manipularem e definirem padrões.

Podemos entender que um banco de dados é responsável pela persistência dos dados.

Por persistente, podemos entender que os dados desse banco de dados
"persistem" porque, uma vez aceitos pelo SGBD para serem
salvos no banco de dados, só serão removidos mais tarde por
alguma requisição explícita ao SGBD, através do SQL.

Um banco de dados é uma coleção de dados persistentes,
usada por algum sistema.

####Tipos de banco de dados

Os tipos de SGBDs

Definindo como os dados serão armazenados no banco de dados, podemos destacar os modelos de SGBDs mais utilizados como os seguintes: Relacionais, não-relacionais (NoSQL), hierárquico, de rede e o orientado a objetos.

- Relacionais - Os SGBDS relacionais são banco de dados que modelam os dados no formato de tabelas, que podem se relacionar entre si. Cada tabela pode possuir diversos atributos, com diversos tipos de dados.

- Não-relacionais (NoSQL) - NoSQL (Not Only SQL) é o termo utilizado para banco de dados não relacionais de alto desempenho, onde geralmente não é utilizado o SQL como linguagem de consulta. Estes bancos utilizam diversos modelos de dados, incluindo documentos, gráficos, chave-valor e colunares. São amplamente reconhecidos pela facilidade em seu desenvolvimento, desempenho escalável, alta disponibilidade e resiliência.

- Hierárquico - Modelo hierárquico de banco de dados consiste em uma coleção de arquivos que são conectados entre si por meio de ligações, baseando a sua base de dados em um modelo de entidades e relacionamentos.

- De rede - Possuindo uma organização semelhante ao modelo de banco de dados hierárquico, o modelo de rede possui uma estrutura mais completa, possuindo como principal diferença entre eles o fato de não existir restrição hierárquica. É um modelo que permite a organização dos dados em uma estrutura formada por várias listas, formada por um conjunto complexo de ligações.

- Orientado a objetos - Baseado no paradigma da programação orientada a objetos, neste modelo as funcionalidades de orientação a objetos são integradas aos bancos de dados, onde cada informação é armazenada em forma de um objeto e seus registros em forma de tuplas.

**NORMALMENTE,** os principais banco de dados que você verá no mercado, são os relacionais e não relacionais.

Abaixo, você terá um link para ver melhor a diferença entre eles.

https://www.treinaweb.com.br/blog/sql-vs-nosql-qual-usar/

###MySQL

MySQL é um sistema de gerenciamento de banco de dados
relacional de código aberto baseado em SQL.

Quanto a sua definição, MySQL é um Banco de Dados relacional
(RDBMS – Relational Database Management Systems) com um
modelo de cliente-servidor.

Ele foi projetado e otimizado para aplicativos da web e pode ser
executado em qualquer plataforma. Como surgiram requisitos novos
e diferentes com a internet, o MySQL tornou-se a plataforma
preferida para desenvolvedores da web e aplicativos baseados na
web.

Como foi projetado para processar milhões de consultas e milhares
de transações, o MySQL é uma escolha popular para empresas de
comércio eletrônico que precisam gerenciar várias transferências de
dinheiro. A flexibilidade sob demanda é o principal recurso do MySQL.

###Obs:

Existe o SGBD MariaDB, que é uma espécie de fork do MySQL.

O workbench configura um servidor na nossa
máquina onde podemos criar bancos de dados,
executar códigos SQL, entre outras funcionalidades.
Essa conexão é chamada de

"Local Instance
".

O usuário por padrão é o usuário root.

Esse servidor roda no nosso localhost, na porta
3306 por padrão.

###SQL

O SQL é uma linguagem padrão para manipulação de registros
em bancos de dados relacionais. A sigla SQL vem dos termos em
inglês “Structured Query Language”

, que podem ser traduzidos
para o português como “Linguagem de Consulta Estruturada”.

Com o SQL, é possível realizar consultas à base de dados
informando diversos tipos de parâmetros (seguindo algumas
regras e normas da linguagem), podendo obter grandes
quantidades de informação de diferentes fontes (no caso,
tabelas) com poucos ou até mesmo apenas uma instrução.

A linguagem também possui outros subconjuntos de operações
utilizadas para gerenciar e manipular as informações e o próprio
banco de dados, como inserção, atualização e exclusão de
informações, criação de novas tabelas, etc.

A linguagem SQL surgiu a partir de um estudo realizado na
década de 70 pelo laboratório da IBM. Esse estudo tinha
como um de seus objetivos elaborar uma linguagem que
fosse capaz de simplificar o gerenciamento de informações
em bancos de dados do tipo relacional (baseado em
tabelas).

Foi aí que surgiu a especificação original do SQL, que foi
feita por dois conhecidos cientistas da computação,
Donald D. Chamberlim e Raymond F. Boyce. O sucesso da
linguagem foi imediato e rapidamente diversos “dialetos”
começaram a ser desenvolvidos, o que gerou a
necessidade do ANSI (American National Standards
Institute) padronizar o seu uso.

###Comandos SQL

Os comandos SQL são agrupados da seguinte forma:

- DDL : Data Definition Language
- DML : Data Manipulation Language
- TCL : Transaction Control Language
- DQL : Data Query Language
- DCL : Data Control Language

### DDL
Data Definition Language
Consiste em comandos SQL que são usados para definirmos o schema (esquema) do banco de dados.

Simplesmente lida com as descrições do esquema do banco de dados, sendo usada para criar e modificar a estrutura dos objetos do banco de dados.

Assim, DDL é um conjunto de comandos SQL para criar, modificar e apagar estruturas de banco de dados, mas não os dados. Estes comandos são normalmente não são usados por um usuário geral, que deve acessar o banco de dados por meio de um aplicativo (cliente de banco de dados).

Lista dos comandos:

- CREATE : usado para criar banco de dados e seus objetos (tabelas, index, funções, visões, store procedure e triggers)

- DROP : usado para remover objetos do banco de dados

- ALTER : usado para alterar a estrutura do banco de dados

- TRUNCATE : usado para remover todos os registros de uma tabela, incluindo todos os espaços alocados para os registros

- COMMENT : usado para adicionar comentários ao dicionário de dados

- RENAME : usado para renomear objetos existentes no banco de dados

####CREATE

Existem duas instruções CREATE disponíveis no SQL:

CREATE DATABASE
CREATE TABLE
CREATE DATABASE

Um banco de dados é definido como um conjunto estruturado de dados.

Assim, no SQL, o primeiro passo para armazenar os dados de maneira bem estruturada é criar um banco de dados.

A instrução CREATE DATABASE é usada para criar um novo banco de dados em SQL.

Sintaxe

```
CREATE DATABASE [IF NOT EXISTS] nome_database;

USE INFINITY;

```

CREATE TABLE

Aprendemos logo acima sobre a criação de bancos de dados.

Agora, para armazenar os dados, precisamos de uma tabela para fazer isso.

A instrução CREATE TABLE é usada para criar uma tabela em SQL.

Sabemos que uma tabela é composta por linhas e colunas. Então, ao criar tabelas, temos que fornecer todas as informações ao SQL sobre os nomes das colunas, tipo de dados a serem armazenados nas colunas, tamanho dos dados etc.

Sintaxe

```
CREATE TABLE [IF NOT EXISTS] nome_tabela(
  coluna1 tipo_dado(tamanho),
  coluna2 tipo_dado(tamanho),
  coluna3 tipo_dado(tamanho)
);
```

```
CREATE TABLE IF NOT EXISTS STUDENTS(
  REGISTRATION INT(5) NOT NULL PRIMARY KEY,
  NAME VARCHAR(30),
  EMAIL VARCHAR(50)
);
```

Essa consulta criará uma tabela chamada STUDENTS.

O campo REGISTRATION é do tipo int e pode armazenar um número inteiro de tamanho 5.

Já os campos NAME e EMAIL são do tipo varchar e podem armazenar caracteres com tamanho máximo de 30 e 50 caracteres, respectivamente.

####DROP
DROP é usado para excluir um banco de dados inteiro ou apenas uma tabela.

A instrução DROP destrói os objetos como um banco de dados, tabela, índice ou visão.

Uma instrução DROP em SQL remove um componente de um sistema de gerenciamento de banco de dados relacional (RDBMS).

Sintaxe

```
DROP OBJECT [IF EXISTS] nome_objeto;
```

```
DROP TABLE [IF EXISTS] STUDENTS;

DROP DATABASE [IF EXISTS] INFINITY;
```

TRUNCATE
A instrução TRUNCATE que é usada para remover os dados de uma tabela para fins de desalocação (vazia para reutilização).

O resultado dessa operação remove rapidamente todos os dados de uma tabela, geralmente ignorando vários mecanismos de imposição de integridade.

Foi introduzido oficialmente no SQL ANSI 2008.

A instrução mytable TRUNCATE TABLE é logicamente (embora não fisicamente) equivalente à instrução DELETE FROM mytable (sem uma cláusula WHERE).

Sintaxe

```
TRUNCATE TABLE nome_tabela;
```
EX:

```
TRUNCATE TABLE STUDENTS;
```

OBS : Após executar a consulta acima, a tabela STUDENTS será truncada, ou seja, os dados serão excluídos, mas a estrutura permanecerá na memória para operações posteriores

####ALTER
ALTER TABLE é usado para adicionar, excluir/descartar ou modificar colunas na tabela existente.

Também é usado para adicionar e descartar várias restrições na tabela existente.

####ADD
ADD é usado para adicionar colunas à tabela existente.

Às vezes precisamos realizar a adição de informações adicionais, nesse caso não precisamos criar todo o banco de dados novamente, o ADD vem em nosso socorro!

Sintaxe

```
ALTER TABLE nome_tabela ADD (
  nova_coluna1 tipo_dado(tamanho),
  nova_coluna2 tipo_dado(tamanho),
)
```

EX:

```
ALTER TABLE STUDENTS ADD(
  PHONE VARCHAR(9),
  COURSE VARCHAR(40)
);
```

####DROP
DROP COLUMN é usado para descartar colunas em uma tabela. Excluindo as colunas indesejadas da tabela.

Sintaxe

```
ALTER TABLE nome_tabela DROP COLUMN nome_coluna;
```

EX:

```
ALTER TABLE STUDENTS DROP COLUMN COURSE;
```

####MODIFY
Ele é usado para modificar as colunas existentes em uma tabela. Várias colunas também podem ser modificadas de uma só vez.

Sintaxe

```
ALTER TABLE nome_tabela MODIFY nome_coluna tipo_coluna;
```

EX:

```
ALTER TABLE STUDENTS MODIFY PHONE VARCHAR(11);
```

####RENAME
Às vezes, podemos querer renomear nossa tabela para dar um nome mais relevante.

Para isso, podemos usar ALTER TABLE para renomear o nome da tabela.

Sintaxe

Para os SGBDs Oracle e MySQL

```
ALTER TABLE nome_tabela RENAME TO novo_nome_table;
ALTER TABLE nome_tabela RENAME COLUMN nome_antigo TO nome_novo;
```

Para o SGBD - MariaDB

```
ALTER TABLE nome_tabela CHANGE nome_antigo nome_novo tipo_dado;
```

EX:

```
ALTER TABLE STUDENTS RENAME TO STUDENTS_DETAILS;
ALTER TABLE STUDENTS RENAME COLUMN COURSE TO TI_COURSE;
ALTER TABLE STUDENTS CHANGE COURSE TI_COURSE VARCHAR(40);
```